*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    
}
html{
    overflow: hidden;
    min-height: 100%;
    background: linear-gradient(#005473, #0b6685, #1e799b);
}
.main{
    background:#b9d4e0;
    text-align:center;
    width:320px;
    margin: 80px auto;
    padding:3px;
    box-shadow: 0 0 30px 1px #000;
}   
form{
    padding: 0 5px;
    margin-bottom:15px;
}
.textview{
    width:100%;
    height:154px;
    padding:0 10px; 
    

}
.history{
    width:100%;
    height:73px;
    text-align: end;
    padding:10px;
    color: #555;
    font-size: 22px;
    font-weight: 450;
    background: rgba(0,0,0,0);
    border: none;
    line-height: 20px;
}
.current{
    width:100%;
    height:73px;
    text-align: end;
    padding:10px;
    font-size: 50px;
    font-weight: 500;
    background: rgba(0,0,0,0);
    border: none;
    pointer-events:fill;
}

.raw:before, .raw:after{
    content:'';
    display:table;
    clear:both;
    width:100%   
}
.a3{
    width:25%;
    
    float:left;
}
.a6{
    width:50%;
    float:left;
}

.button{
    width: 99%;
    height:50px;
    outline:none;
    margin:0.5px;
    border: 1px solid #b9d4e0;
}
.button:hover, .button:active{
    background:#b0c7ce;
}

.title{
    float: left;
    padding:5px 10px;
    font-size: 13px;
}
.operation{
    background-color: #d6e6ee;
    font-size: 25px;
    font-weight:200;
   
}

.equal{
    background:rgba(240,140,0,0.8);
}
.equal:hover, .equal:active{
    background:rgba(200,100,0,1);
}
.num{
    background:#f1f7f9;
    font-size: 18px;
    font-weight: 550;
}
.del,.clr{
    font-size: 20px;
}   
.dut{
    font-size: 19px;
    font-weight: 700;
    background:#f1f7f9;
}
.currency{
    width: 100%;
    height:45px;
    outline:none;
    margin:0.5px;
    margin-bottom: 3px;
    background:#8d9ea4;
    border: 1px solid #b9d4e0;
    font-size: 17px;
    font-weight: 300;
}
.currency:hover{
    background: #5d7c81;
}